@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:600");

* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}