:root {
    --color-background: #edeff0;
}

body {
    display: grid;
    max-width: 60em;
    min-height: 100%;
    margin-inline: auto;
}

body > header > h1 {
    grid-area: title;
}

body > header > h2 {
    grid-area: subtitle;
}