body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body header {
    position: absolute;
    float: left;
    width: 38em;
    height: 2em;
}
  
body nav {
    position: absolute;
    width: 38rem;
    height: 2rem;
    margin-top: 4rem;
}
  
body aside {
    float: right;
    width: 18rem;
    height: 6rem;
}
  
main {
    position: absolute;
    width: 60rem;
    margin-top: 13rem;
}
  
body footer {
    position: absolute;
    width: 58rem;
    margin-top: 8rem;
}