@media (max-width: 30em) {
    #register {
      background-color: white;
    }
    
    #login {
        background-color: white;
      } 
}

:root {
    --highlighter: #575757;
}

#register, #login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 100%;
}

#register h1, #login h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}

#register form, #login form {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 100%;
    max-width: 24rem;
    padding: 2rem;
    gap: 2rem;
}

#register input, #login input {
    display: block;
    background-color: none;
    border: none;
    outline: none;
    border-bottom: 1px solid black;

    padding: 0.25rem;
    margin-top: 0.5rem;
    width: 100%;
}

#register input:focus, #login input:focus {
    background-color: var(--highlighter);
    color: white;
    transition: 0.5s;
}

#register button, #login button {
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
}

#register button:hover, #login button:hover {
    cursor: pointer;
    background-color: var(--highlighter);
    transition: 1s;
} 