form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    width: 16%;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}